body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FAF8;
    color: #1F2937;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header (Hero Section) */
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 0;
    text-align: center;
}

.logo {
    font-size: 24px; /* Header Logo Text */
    margin-bottom: 20px;
    color: #F9FAF8;
}

.nav-links a {
    color: #E5E7EB; /* Hero Secondary Text */
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px; /* Hero Secondary Text */
}

.hero-text h1 {
    font-size: 48px; /* Hero Main Text */
    font-weight: 900;
    margin-bottom: 10px;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px; /* Hero Secondary Text */
    margin-bottom: 20px;
    color: #E5E7EB;
}

.btn-signup {
    background-color: #3882F6; /* Button Background Color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.hero-image {
    background-color: #1f2736;
    margin-top: 10px;
    padding: 20px;
    text-align:left;
   
    img {
        border: 1px solid #241e1e;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }
}


/* Information Section */
.info-section {
    background-color: #F9FAF8;
    padding: 40px 0;
    text-align: center;
}

.info-section h2 {
    font-size: 36px; /* Information Header Text */
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 30px;
}

.info-cards {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #F9FAF8;
    border: 2px solid #E5E7EB;
    padding: 20px;
    width: 22%;
    text-align: center;
    color: #1F2937;
}

/* Quote Section */
.quote-section {
    background-color: #E5E7EB; /* Quote Section Background Color */
    padding: 40px 0;
    text-align: center;
    font-size: 36px; /* Quote Text */
    font-style: italic;
    color: #1F2937;
}

/* Footer Call to Action */
.footer-cta {
    background-color: #1F2937; /* Dark Background Color */
    padding: 20px 0;
    text-align: center;
}

.footer-cta p {
    color: white;
    font-size: 18px; /* Hero Secondary Text */
}

.footer-cta .btn-signup {
    background-color: #3882F6; /* Button Background Color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
.footer {
    background-color: #1F2937; /* Dark Background Color */
    padding: 10px 0;
    text-align: center;
}

.footer p {
    color: #F9FAF8; /* Footer Text Color */
    font-size: 16px; /* Default footer font size */
}
